/* src/pages/sections/AllEmployeeWorking.css */

.all-employee-working-content {
  background-color: #f7e0e0;
  border: 3px solid #ccc;
  border-radius: 7px;
  padding: 10px;
  max-width: 1000px;
  margin: 10px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.all-employee-working-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 5px;
  align-items: center;
  font-size: 14px;
}

.all-employee-working-row.header {
  font-weight: bold;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

.all-employee-working-cell {
  word-wrap: break-word;
  padding: 5px;
}
