.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 background: rgba(255, 255, 255, 0.2);  /* solid blue */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: orange;
}

.auth-buttons {
  display: flex;
  gap: 12px;
}

.btn-login,
.btn-register {
  padding: 6px 16px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-login {
  border: 2px solid orange;
  color: orange;
  background: transparent;
}

.btn-login:hover {
  background: orange;
  color: #fff;
}

.btn-register {
  background: orange;
  color: #fff;
  border: 2px solid orange;
}

.btn-register:hover {
  background: transparent;
  color: orange;
}
